* {
    margin: 0;
    padding: 0;
    /*font-family: sans-serif;*/
    box-sizing: border-box; /**********What is this*/
}

.main{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow-y: scroll;
    overflow-x: scroll;/*Fix this, being able to scroll left and right*/
    background: black;
 }
/*Navigation bar-la ou on voit logo et ou faire choix*/
nav {
    width: 100%;
    height: 11vh;
    position: sticky; /**********What is this*/
    margin-top: 0px;
    margin-left: 0%;
    z-index: 1; /**********What is this*/
    display: flex; /**********What is this*/
    align-items: initial; /**********What is this*/
    /* background: #f00*/
}
.logo {
    margin-bottom: 0px;
    margin-left: 5%;
    margin-top: 0px;
    margin-right: 0px;
    flex-basis: 10%; /**********What is this*/
    background: transparent;
}
    .logo img {
            width: 350px;
            height: 150px;
     }

.nav-links {
    flex: 1; /**********What is this*/
    text-align: center;
    background: transparent;
}
    .nav-links ul li {
        list-style: none; /**********What is this*/
        display: inline-block; /**********What is this*/
        margin: 20px; /**********What is default*/
    }
        .nav-links ul li a {
            color: cornflowerblue;
            text-decoration: none; /**********What is this*/
            font-size: x-large;
        }
/*Block ou la premiere photo est diplayed*/
.bande {
    /**/background-image: url('Siteweb/esc_home.jpg');
    /*background-size: cover;*/
    width: 100%;
    height: 400px;
    /*background: cornflowerblue;*/
}
.bande h1{
    color: white;
    text-align: center;
    /*margin-top: 50%;*/
}
/*Description de qui nous sommes*/
.nous {
    width: 100%;
    margin-top: 100px;
    background: transparent;
}
    .nous h1 {
        font-family: "Times New Roman", Times, serif;
        font-size: 40px;
        color: white;
        text-align: center;
    }
    .nous p {
        font-family: "Times New Roman", Times, serif;
        font-size: 25px;
        color: white;
        text-align: left;
        margin-left: 50px;
    }
/*Description de nos services*/
.services {
    width: 100%;
    margin-top: 100px;
    background: transparent;
}
    .services h1 {
        font-family: "Times New Roman", Times, serif;
        font-size: 40px;
        color: white;
        text-align: center;
    }
    .services p {
        font-family: "Times New Roman", Times, serif;
        font-size: 25px;
        color: white;
        text-align: left;
        margin-left: 50px;
    }
/*Description de notre approche*/
.approche {
    width: 100%;
    margin-top: 100px;
    background: transparent;
}
    .approche h1 {
        font-family: "Times New Roman", Times, serif;
        font-size: 40px;
        color: white;
        text-align: center;
    }
    .approche p {
        font-family: "Times New Roman", Times, serif;
        font-size: 25px;
        color: white;
        text-align: left;
        margin-left: 50px;
    }
/*************************************************/
/*Notre portfolio, projet ant/rieurs, images et tout*/
/*-----------------------------------------*/
/* The grid: Four equal columns that floats next to each other 

.container {
    position: relative;
    margin-top: 30px;
}
    .container h1 {
        font-family: "Times New Roman", Times, serif;
        font-size: 40px;
        color: white;
        text-align: center;
    }
.box {
    text-align:center;
    color:white;
}
.column {
    /* float: left;
    width: 25%;
    padding: 10px;
}
    /* Style the images inside the grid 
    .column img {
        opacity: 0.3;
        cursor: pointer;
    }
        .column img:hover {
            opacity: 1;
        }

/* Clear floats after the columns 
.row:after {
    content: "";
    display: table;
    clear: both;
    background: #ff0000
}

/* The expanding image container (positioning is needed to position the close button and the text) 
.containers {
    position: relative;
    display: none;
    width:50%;
    margin-left: 25%;
    height:3000px;
}

/* Expanding image text 
#imgtext {
    position: relative;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
}

/* Closable button inside the image 
.closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
}*/
/*-----------------------------------------*/
/* Position the image container (needed to position the left and right arrows) */

.container {
    position: relative;
    margin-top: 100px;
}
    .container h1 {
        font-family: "Times New Roman", Times, serif;
        font-size: 40px;
        color: white;
        text-align: center;
    }
/* Hide the images by default */
.mySlides {
    display: none;
}
    .mySlides img{
        width:100%;
        height: 500px;
    }
/* Add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

    /* Position the "next button" to the right */
    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }

    /* On hover, add a black background color with a little bit see-through */
    .prev:hover,.next:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }
    
/* Number text (1/3 etc) 
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Container for image text */
.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Six columns side by side */
.column {
    float: left;
    width: 16.66%;
}

 Add a transparency effect for thumnbail images 
.demo cursor {
    opacity: 0.5;
}

    .active,
    .demo:hover {
        opacity: 1;
    }
    
/*************************************************/
/*Section nous joindre ou on peut nous rejoiondre pour soumission*/
.soumission {
    position: relative;
    width: 90%;
    height: 400px;
    margin-top: 30px;
    margin-left: 5%;
    /* background: #f00;*/
}
    .soumission h1 {
        font-family: "Times New Roman", Times, Lato;
        text-align: center;
        color: cornflowerblue;
        margin-bottom: 30px;
    }
    .soumission img {
        position: absolute;
        margin-left: 75%;
        margin-top: -50px;
        width: 175px;
        height: 125px;
    }
.email {
    position: absolute;
    margin-left: 55%;
    margin-top: 15%;
    background: transparent;
}
    .email h1 {
        text-align: center;
        font-size: 20px;
        color: white;
       
    }
    .email img {
        margin-top: -50px;
        margin-left:35%;
        width:50px;
        height:50px;
    }
.phone {
    position: absolute;
    margin-left: 80%;
    margin-top: 15%;
    background: transparent;
}

    .phone h1 {
        text-align: center;
        font-size:20px;
        color: white;
    }
    .phone img {
        margin-top: -50px;
        margin-left: 35%;
        width: 50px;
        height: 50px;
    }
input[type=text]{
    margin-left: 30px;
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=email] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=submit] {
    width: 50%;
    background-color: #0a049d;
    /*#4CAF50*/
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: #010874;
    /*#090486*/
}
/*
.information {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
    background: yellow;
}
#circle {
    width: 1000px;
    height: 1000px;
    position: absolute;
    top: 0%;
    left: 0%;
    border-radius: 50%;
    transform: rotate(0deg);
    transition: 1s;
    background: red;
}
.feature img {
    width: 150px;
    height: 150px;
    display: none;
}
.feature {
    position: absolute;
    display: flex;
    color: black;
}
.feature div{
    margin-left: 20px;
}
.feature div p{
    margin-top: 8px;
}

.one {
    top: 450px;
    right: 50px;
    transform: rotate(-90deg);
}
.two {
    top: 150px;
    left: 350px;
    transform: rotate(180deg);
    z-index: -1;
}
.three {
    bottom: 450px;
    left: 50px;
    transform: rotate(90deg);
    z-index: -1;
}
.four {
    bottom: 150px;
    right: 350px;
    transform: rotate(0deg);
    z-index: -1;
}

.Paint{
    width:100px;
    position: absolute;
    top: 50%;
    left:35%;
    transform: translateY(-50%);
    z-index:1;
}
.Controls{
    position: absolute;
    right:5%;
    top:50%;
    transform: translateY(-50%);
    text-align: center;
}
.Controls h3 {
        margin: 15px 0;
        color: cornflowerblue;
}
#UpBtn{
    width: 15px;
    cursor: pointer;
}
#DownBtn {
    width: 15px;
    cursor: pointer;
    transform:rotate(180deg);
}
.overlay {
    width: 0;
    height: 0;
    border-top: 500px solid ;
    border-right: 500px solid ;
    border-left: 500px solid ;
    border-bottom: 500px solid transparent;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
}
.LINKS{
    position:absolute;
    top:800px;
    color: black;
    font-size:xx-large;
    left:0px;
}
    */
